body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#banniere {
  background: linear-gradient(to bottom, #ffffff00, #000000f5, #000000), url(./assets/images/banniere.png);
  background-size: cover;
  position: relative;
}

#footer {
  background-color: #1D1B20;
  background-size: cover;
  color: azure;
  position: relative;
  bottom: 0;
  border-top: 2px solid azure;
  border-bottom: 2px solid azure;
  padding: 10px;
  margin: auto;
  z-index: 10;
}

body {
  z-index: -1;
  position: relative;
  background-image: linear-gradient(to top, #35aaf825, #00c3ff2a, #000000f5, #000000), url("./assets/images/binairies.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


.test-2 {
  font-size: xx-large;
  color: white;
}


h1 {
  color: white;
}

h2 {
  color: red;
  text-decoration: underline overline #FF3028;
  text-align: center;
}



.test-4 {
  position: relative;
  background-color: grey;
}
